body{ 
font-family: "Plus Jakarta Sans", sans-serif !important;
display: flex;
flex-direction: column;
min-height: 100vh;
}

.container{
    flex: 1;
}
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-house {
    color: #fe424d;
    font-size: 2rem;
    margin-left: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;

}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.f-info-socials i {
    margin-right: 1rem;
    font-size: 1.3rem;
}


.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}


.listing-card{
    border: none !important;
    margin-bottom: 2rem;

}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 !important;

}

.listing-link{
text-decoration: none !important;

}

.card-img-overlay{
    text-align: center;
    justify-content: center;
    opacity: 0;
}
.card-img-overlay:hover{
    text-align: center;
    justify-content: center;
    opacity: 0.2;
    background-color: rgb(255, 255, 255);
}

.list-btn{
    background-color: #fe424d !important;
    
    border: none !important;
}





.show-image{
 height: 30vh;   
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}

.star{
  color: orange;
  font-size: 18px;
  
}


.UrbenNest{
    color: #fa2e3c;
}


